@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body
{
    /* height: 100vh; */
    background-color:#254336;
    color: #DAD3BE;
    box-sizing: border-box;
}

.titulo-destaque
{
    color: #6B8A7A;
}

.nombreInicial
{
    color: #6B8A7A;
    font-size: 25px;
    font-family: "Krona One", serif;
}

.contacto
{
    color: #B7B597;
    font-size: 25px;
    font-family: "Krona One", serif;
    text-align: center;
}

.presentacion
{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentacionContenido
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentacionContenidoTitulo
{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentacionContenidoParrafo
{
    font-size: 18px;
    font-family: "Montserrat", serif;
}

.presentacionContenidoParrafo2
{
    font-size: 14px;
    font-family: "Montserrat", serif;
}

.presentacionContenidoParrafo3
{
    font-size: 14px;
    font-family: "Montserrat", serif;
    text-align: center;
    
}

.presentacionEnlaces
{
    display:flex;
    justify-content: space-between;
    gap: 10px;
    align-items:center;
}

.presentacionEnlacesLink
{
    width: 378px;
    border: 2px solid #6B8A7A;
    text-align: center;
    padding: 20.0px 0;
    border-radius: 16px;
    font-family: "Monserrat, serif";
    font-size: 24px;
    font-weight: 600;
    color: #DAD3BE;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacionEnlacesLink:hover
{
    border: 2px solid #B7B597;
    cursor: pointer;
    background-color:#6B8A7A; ;
}

.fotoPresentacion
{
    width: 467.71px;
    height: 532px;
    border-radius: 16px;
}

.footer
{
    background-color: #6B8A7A;
    padding: 24px;
    color: #DAD3BE;
    text-align:left;
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    gap: 12px;
}

.enlacesFooter
{
    color: #DAD3BE
}

.header
{
    background-color: #6B8A7A;
    padding: 5px 10px;
    color: #DAD3BE;
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    text-decoration: none;
}

.headerMenu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMenuLinks
{
    font-size: 18px;
    color: #333;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.headerMenuLinks:hover
{
    color: #DAD3BE;
}