@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --colorPrimario: #254336;
    --colorSecundario: #DAD3BE;
    --colorTerciario: #6B8A7A;
    --colorCuarto: #B7B597;

    --fuenteMontserrat: "Montserrat", sans-serif;
    --fuenteKrona: "Krona One", serif;
}

*{
    padding: 0;
    margin: 0;
}

body
{
    /* height: 100vh; */
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    box-sizing: border-box;
}

.header
{
    padding: 2% 0% 0% 15%;
    background-color: var(--colorPrimario);
    font-family: var(--fuenteMontserrat);
    color: var(--colorCuarto);
}

.headerMenu
{
    display:flex;
    gap: 80px;
}

.headerMenuLinks
{
    font-family: var(--fuenteMontserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--colorSecundario);
    text-decoration: none;
}

.headerMenuLinks:hover
{
    color: var(--colorSecundario);
}

.nombreInicial
{
    color: var(--colorTerciario);
    font-size: 25px;
    font-family: var(--fuenteKrona);
}

.presentacion
{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.presentacionContenido
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: var(--colorSecundario);
}

.presentacionContenidoTitulo
{
    font-size: 36px;
    font-family: var(--fuenteKrona);
}

.titulo-destaque
{
    color: var(--colorTerciario);
}

.presentacionContenidoParrafo
{
    font-size: 18px;
    font-family: var(--fuenteMontserrat);
    text-decoration: none;
    color: var(--colorSecundario);
}

.presentacionContenidoParrafo2
{
    font-size: 18px;
    font-family: var(--fuenteMontserrat);
}

.presentacionContenidoParrafo3
{
    font-size: 14px;
    font-family: var(--fuenteMontserrat);
    text-align: center;
    
}

.contacto
{
    color: var(--colorCuarto);
    font-size: 25px;
    font-family: var(--fuenteKrona);
    text-align: center;
}

.presentacionEnlaces
{
    display:flex;
    justify-content: space-between;
    gap: 10px;
    align-items:center;
}

.presentacionEnlacesLink
{
    width: 378px;
    border: 2px solid var(--colorTerciario);
    text-align: center;
    padding: 20.0px 0;
    border-radius: 16px;
    font-family: "Monserrat, serif";
    font-size: 24px;
    font-weight: 600;
    color: var(--colorSecundario);
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacionEnlacesLink:hover
{
    border: 2px solid var(--colorTerciario);
    cursor: pointer;
    background-color: var(--colorTerciario);
}

.fotoPresentacion
{
    width: 467.71px;
    height: 532px;
    border-radius: 16px;
}

.footer
{
    background-color: var(--colorTerciario);
    padding: 40px;
    color: var(--colorSecundario);
    text-align:left;
    font-family: var(--fuenteMontserrat);
    font-size: 16px;
    font-weight: 400;
    gap: 20px;
}

.enlacesFooter
{
    color: var(--colorSecundario)
}